*{
    /* color: rgb(70, 247, 232); */
    background-color: rgba(2, 2, 2, 0.705);
    background-image: url(Background.png);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
h1{
    color: rgb(243, 12, 89);
    align-self: center;
}
p,a{
    padding-left: 13%;
    color: rgb(241, 231, 241);
}
/* .glow{
    font-size: 30px;
    color: hotpink;
} */
a{
    color:  rgb(250, 241, 247);
}
img{
    padding-left: 31%;
    padding-bottom:5%;
}
h3{
    color: rgba(242, 236, 242, 0.776);
}
b{
    padding-left: 13%;
}